<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text ="#{school.name}">Title</title>
</head>
<body>

<p style="font-family:consolas;font-size:20px;font-weight: bold;">
    Welcome to <span th:text="#{school.name}"></span>
</p>
<p>
    Follow the following Links for more of what we offer.
    <ul>
        <li>
            <a th:href="@{school/students}">Students</a>
        </li>
        <li>
            <a th:href="@{school/courses}">Courses</a>
        </li>

    </ul>
</p>

</body>
</html>