<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
    <link type="text/css" media="all" rel="stylesheet" th:href="@{/css/ssma-1.css}">
</head>

<body>
    <div th:unless="${#lists.isEmpty(students)}">
        <fieldset>
            <legend>Students</legend>
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="s : ${students}">
                        <td th:text="${s.id}">*{ Id</td>
                        <td th:text="${s.firstName}">1 Name</td>
                        <td th:text="${s.lastName}">Last Name</td>
                        <td th:text="${s.course} ? s.course.name : 'Unknown'">course Name</td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

    </div>
    <div>
        <fieldset>
            <legend>Add Student</legend>
            <form th:action="@{/school/students}" th:object="${student}" method="post">
                    <label class="div-label" for="firstName"> First Name</label>
                    <input type="text" name="firstName" th:field="*{firstName}">

                    <label class="div-label" for="lastName"> Last Name</label>

                    <input type="text" name="lastName" th:field="*{lastName}">
                <div th:unless="${#lists.isEmpty(courses)}">
                        <label for="course"> Course</label>
                    <select>
                       <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}">Course Name</option>
                    </select>
                </div>
                <div>
                    <button class="save-button" name="saveStudent" type="submit" >Add Student</button>
                </div>

            </form>
        </fieldset>
    </div>

</body>
</html>